/* Base Styles -------------------- */

* {
	box-sizing: border-box;
}

body {
	font-family: 'Roboto', sans-serif;
	background-color: rgba(250, 250, 250, 1);
	color: rgba(64, 64, 64, 1);
}

p {
	font-size: 1.1em;
	line-height: 1.5;
	color: rgba(120, 120, 120, 1);
}

h1,
a {
	color: rgba(64, 64, 64, 1);
}

h2 {
	text-transform: uppercase;
}

ul,
ol {
	margin: 2em 0;
	list-style-type: none;
}

li {
	margin-bottom: 10px;
}

a {
	text-decoration: none;
}


/* Pseudo-classes ------------------ */

a:link {
	text-decoration: none;
}

a:visited {
	text-decoration: none;
	color: rgba(64, 64, 64, 1);
}


/* Main Styles --------------------- */

.intro,
.portfolio,
.contact {
	text-align: center;
	border: 1px solid red;		/* DELETE LATER */
}

.main-nav {
	text-transform: uppercase;
}

.intro,
.container,
.content,
.contact {
	padding-right: 1em;
	padding-left: 1em;
}

.title a,
.main-nav a {
	display: block;
	text-align: center;
	padding: 10px 15px;
}

.portfolio,
.main-nav a {
	background-color: white;
}



.main-footer {
	border: 1px solid red;  	/* DELETE LATER */
}

/* IMAGES */

.avatar {
	width: 80%;
	max-width: 100%;
	margin-top: 1em;
	margin-bottom: 1em;
}

.intro {
	margin-bottom: 1em;
}

.port-img {
	max-width: 100%;
	margin-bottom: 1em;
}

.portfolio h2 {
	padding-top: 2em;
	padding-bottom: 2em;
}

.content p {
	padding-right: 1em;
	padding-left: 1em;
	margin-bottom: 2em;
}



/* Media Queries -------------------- */

