/* Base Styles -------------------- */

* {
	box-sizing: border-box;
}

body {
	font-family: 'Roboto', sans-serif;
	background-color: rgba(250, 250, 250, 1);
	color: rgba(64, 64, 64, 1);
	font-weight: 300;
}

p {
	font-size: 1.1em;
	line-height: 1.5;
	color: rgba(120, 120, 120, 1);
}

h1,
h2,
a {
	color: rgba(64, 64, 64, 1);
	font-weight: 500;
}

h2 {
	text-transform: uppercase;
}

h3 {
	font-weight: 300;
	font-size: 1.5em;
}

ul,
ol {
	margin: 2em 0;
	list-style-type: none;
}

li {
	margin-bottom: 10px;
}

a {
	text-decoration: none;
}


/* Pseudo-classes ------------------ */

a:link {
	text-decoration: none;
}

a:visited {
	text-decoration: none;
	color: rgba(64, 64, 64, 1);
}


/* Main Styles & Layout --------------------- */

.intro,
.portfolio,
.contact {
	text-align: center;
}

.main-nav {
	text-transform: uppercase;
}

.intro,
.container,
.content,
.contact {
	padding-right: 1em;
	padding-left: 1em;
}

.title a,
.main-nav a {
	display: block;
	text-align: center;
	padding: 10px 15px;
}

.portfolio,
.main-nav a {
	background-color: white;
}

.contact {
	padding-top: 2em;
	padding-bottom: 2em;
}

.contact h2 {
	margin-bottom: 1.5em;
}

.contact p a {
	margin-left: 10px;
}

.main-footer {
	margin: 0 1em;
	border-top: 2px solid rgba(220, 220, 220, 1);
	padding-top: 1em;
	padding-bottom: 1em;
}

.footer-title {
	float: left;
	padding-left: 0;
	font-size: 0.85em;
	text-transform: capitalize;
}

.mobile-footer {
	float: right;
	font-size: 0.85em;
	text-transform: uppercase;
}

.footer-nav {
	display: none;
}

/* IMAGES  and PORTFOLIO */

.avatar {
	width: 80%;
	max-width: 100%;
	margin-top: 1em;
	margin-bottom: 1em;
}

.intro {
	margin-bottom: 1em;
}

.port-img {
	max-width: 100%;
	margin-bottom: 1em;
}

.portfolio h2 {
	padding-top: 2em;
	padding-bottom: 2em;
}

.content p {
	padding-right: 1em;
	padding-left: 1em;
	padding-bottom: 2em;
}

.scalable {
	overflow: hidden;
}

.scalable iframe {
	height: 100%;
	left: 0;
	position: absolute;
	top: 0;
	width: 100%;
}

.scalable .scalable-content {
	height: 0;
	position: relative;
}

.scalable-16-9 .scalable-content {
	padding-bottom: 56.25%;			/* 9/16 = .5625 */ 
}

	/* ---- Float clearfix ---- */

.clearfix::after {
	content: " ";
	display: table;
	clear: both;
}


/* Media Queries -------------------- */

@media (min-width: 768px) {

	/* ------ Title and navigation ------*/

	.container {
		margin-left: 1em;
		margin-right: 1em;
		padding-top: 2em;
	}

	.main-nav {
		text-align: center;
	}

	.main-nav li {
		display: inline-block;
		margin-left: 1em;
	}

	.main-nav a {
		background-color: rgba(250, 250, 250, 1);
	}

	/*----- Intro and avatar -------*/


	.intro {
		padding-left: 2em;
		padding-right: 2em; 
	}

	.primary,
	.secondary {
		width: 50%;
		float: right;
	}

	.avatar {
		width: 100%;
	}

	.secondary {
		padding-right: 1.5em;
		font-size: 1.3em;
	}

	.secondary p {
		text-align: left;
		line-height: 1.6;
	}

	/*----- Portfolio -------*/

	.portfolio {
		margin: 0 auto;
	}

	.content {
		float: left;
		width: 50%;
		margin-top: 2em;
		padding-left: 2em;
		padding-right: 2em;
	}

	.stack-two {
		clear: both;
	}

	.last-content {
		width: 80%;
		margin: 0 auto;
		padding-bottom: 2em;
	}

	/* ---- Contact ---- */

	.contact {
		width: 80%;
		margin: 0 auto;
	}

	/* ---- Footer ---- */

	.mobile-footer {
		display: none;
	}

	.footer-nav {
		display: inline-block;
		float: right;
		font-size: .85em;
		text-transform: uppercase;
		margin-top: .83em;
	}

	.footer-nav li {
		display: inline-block;
		margin-left: 2.5em;
	}


	/* ---- Float clearfix ---- */

	.clearfix::after {
		content: " ";
		display: table;
		clear: both;
	}

}

@media (min-width: 1024px) {

	.wrapper {
		max-width: 1150px;
		margin: 0 auto;
	}

	/* ----- Title & navigation ----*/

	.container {
		margin: 0 auto;
	}

	.title {
		float: left;
	}

	.main-nav {
		float: right;
	}

	.main-nav li {
		display: inline-block;
		margin-left: 1em;
	}


	/* ----- Portfolio layout ----*/

	.content,
	.last-content {
		display: inline-block;
		width: 33.33%
	}

	.stack-two {
		clear: none;
	}

	.stack-three {
		clear: both;
	}

	.last-content {
		margin-top: 2em;
		padding-left: 2em;
		padding-right: 2em;
	}



}	












